
html {
  width: 100%;
  height: 100%;

}

body {
        width: 100%;
//    height: 100%;
  color: #4d5255;
  font-size: 1.6rem;
  line-height: 25px;
  font-weight: 300;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

label {
  cursor: pointer;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px);
}


/* TopMenu */
.title {
  padding: 25px 0 10px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: center;
  flex-grow: 1;
}

.title .h1, .title h1, .title .h2, .title h2 {
  line-height: inherit;
  margin: 0 20px 0 0;
  flex-grow: 0;
  line-height: 36px;
}

.title .line {
  flex-grow: 1;
}

.top-block {
  border-top: 5px solid #46c177;
  border-bottom: 3px solid #d5dfe3;
  border-radius: 3px;
  background-color: #f8f8f8;
  box-shadow: 0 3px 0 #ececec;
}

div.header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

.tagline {

    text-align: right;
}

.tagline p.h6 {
  font-weight: 700;
  margin-bottom: 0;
}

.menu {
    a, &>span {
      color: #50c87a;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 22px;
      text-decoration: underline;
      margin-right: 5px;
       

      &:hover {
        text-decoration: none;
        
      }
        &.active {
              font-weight: 500;
            text-decoration: none;
        }
    }
}

.menu-header {
  width: 100%;
  text-align: right;
}

.menu-footer {
 &>a {
  color: #8b8b8b;
  font-weight: 300;
     
     &:after {
             content: '|';
    display: inline-block;

    margin-left: 5px;
     }
      
        &:after:last-child {
           content: '';
        }

}
}


    .no-feedback>img {
        width: 100%;
        height: auto;
    }

.menu-static {
    a, span {
       color: #8b8b8b;
    font-weight: 300;
        margin-left: 10px;
        margin-right: 0;
    }
}
.b-areas {
        align-items: center;
    ul>li{
        width: 33%;
    display: inline-block;
    margin: 0 auto;
    }
    img {
           margin: 0 45px 0px 20px;
    }
    &>.item-around {
            flex-grow: 1;
    }
    display: flex;
     justify-content: flex-start;
    flex-wrap: nowrap;
    background: #f4f4f4;
    padding: 10px;
//    background: url(../images/gerb-moscow.png) no-repeat;

    &>div {
        padding: 20px 10px;
    }
    
    a{ 
    display: block;
    margin: 5px 7px;}
}
.contacts a {
  color: #3d3d3d;
  display: block;
  font-size: 2.0rem;
  text-decoration: none;
  font-weight: 500;
  line-height: 24px;
}

.opinion {
    display: flex;
    padding: 50px 0;
    img {
        width: 150px;
        height: 150px;
        margin-right: 25px;
    }
    .info {
        width: 50%;
    }
}

.info-img {
    
    padding-left: 15px;
    
    &:before {
        content: '';
        display: block;
        background: url(../images/icon-info.png) no-repeat;
        width: 15px;
        height: 15px;
    }
}

.logo {
  display: inline-block;
  width: 193px;
  height: 42px;
  background: url(../images/logo.png) no-repeat;
  background-size: cover;
}

.icon {
  position: relative;
}

.icon-up:after {
  content: '';
  position: absolute;
  display: block;
  background: url(../images/icon-up.png);
  background-size: contain;
  width: 8px;
  height: 11px;
  right: 10px;
  top: 15px;
}

.icon-down:after {
  content: '';
  position: absolute;
  display: block;
  background: url(../images/icon-down.png);
  background-size: contain;
  width: 8px;
  height: 11px;
  right: 10px;
  top: 16px;
}

.link {
  position: relative;
}

.link-out {



  &:before {
        transition: all .3s ease-out;
    content: '';
    display: block;
    background: url(../images/link-out.png) no-repeat center, #f1ffe5;
    width: 35px;
    height: 35px;
    color: white;
    position: absolute;
    font-size: 1.3rem;
    font-weight: 400;
    left: -52px;
    top: -7px;
    opacity: 0;
  }
  
  &:after {
//    transition: all 1s ease-out;
//        content: '';
//    position: absolute;
//    right: -10px;
//    bottom: 3px;
//    border: 6px solid transparent;
//    border-right: 6px solid #3d3d3d;
//    opacity: 0;
  }
//  &:hover:after {
//    transition: all 1s ease-out 0.5s;
//    content: '';
//    position: absolute;
//    display: none;
//    background: url(../images/icon-link-out.png);
//    background-size: contain;
//    width: 13px;
//    height: 13px;
//        left: 110px;
//      top: -2px;
//    opacity: 1;
//  }
  
  &:hover:before, &:hover:after {
       opacity: 1;
  }
}

//.link-out:hover:before {
//  content: 'перейти на сайт';
//  display: block;
//  color: white;
//  position: absolute;
//  font-size: 1.3rem;
//  font-weight: 400;
//  width: 135px;
//  height: 26px;
//  background-color: #3d3d3d;
//  border-radius: 5px;
//  right: -50%;
//  top: -150%;
//  text-align: center;
//}

.link-sitemap {
  margin-left: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid rgba(138, 138, 138, 0.5);
  border-radius: 5px;
}

.link-sitemap:hover {
  opacity: .8;
}

.link-bold {
  color: #272727;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-bottom: 2px solid #cad3df;
  border-top: 1px solid #cad3df;
  margin: 25px  auto;
    max-width: 1110px;

}

table td {
        vertical-align: middle;
  cursor: pointer;
  text-align: center;
  padding: 8px 10px;
  border-right: 1px solid #cad3df;
      vertical-align: middle;
  
  a {
    text-decoration: none;
    color: #272727;
  }
}

table td:last-child {
  border-right: none;
}

table td:first-child {
  border-left: none;
}

table td:nth-child(2) {
  text-align: left;
}

table tr:nth-child(2n) {
  background: rgba(248, 248, 248, .7);
  /* Цвет фона */
}

table tr .btn {
  display: none;
}

table tr:hover {
  background-color: #f1ffe5;
}

table tr:hover .btn {
  display: block;
}

table th {
        vertical-align: middle;
  text-align: center;
  padding: 10px 5px;
  color: #353535;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  border-right: 1px solid #cad3df;
  border-bottom: 2px solid #96b1ba;
  font-weight: normal;
  background-color: #edecec;
  border-radius: 5px 5px 0px 0px;
}

table th:first-child {
  width: 50px;
  border-left: none;
}

table th:last-child {
  width: 150px;
  border-right: none;
}

table tr {
  border-top: 1px solid #96b1ba;
}


.item {
  padding-left: 110px;
  position: relative;
}

.item > a {
  display: inline-block;
  margin-bottom: 30px;
}

.item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 85px;
  height: 85px;
}

.item.create-site:before {
  background: url(../images/service-create-site.png);
  background-size: contain;
}

.item.top-site:before {
  background: url(../images/service-top-site.png);
  background-size: contain;
}

.item.conversion-site:before {
  background: url(../images/service-conversion-site.png);
  background-size: contain;
}

.item.price:before {
  background: url(../images/service-price.png);
  background-size: contain;
}

.item.proffesional:before {
  background: url(../images/service-proffesional.png);
  background-size: contain;
}

.item.conditions:before {
  background: url(../images/service-conditions.png);
  background-size: contain;
}

.item.price p, .item.proffesional p, .item.conditions p {
  width: 85%;
}

.special {
  width: 100%;
  padding: 60px 0;
  text-align: center;
}

.special.work-together {
  background: url(../images/bg-work-together.png) no-repeat;
  background-size: cover;
}

.special .btn {
  margin: 25px 15px;
}

ul.link-list > li {
  padding: 0;
}

ul.link-list > li:before {
  content: '— ';
  color: #3b7eab;
}

ul.link-list > li a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.btn {
  display: inline-block;
  text-align: center;
  position: relative;
  border-radius: 5px;
  color: #f9fafb;
  text-decoration: none;
   overflow: hidden;
  
  &-s {
  padding: 0px 10px;
  font-size: 1.6rem;
  font-weight: 700;
}

&-s.btn-i-right {

}

&-m {
  padding: 15px 35px;
  font-size: 1.6rem;
  font-weight: 400;
}

&-l {
  padding: 20px 35px;
  font-size: 1.6rem;
  font-weight: 400;
}
  
  &-rating {
      width: 47%;
  height: 50px;
  line-height: 50px;
  background-color: #ccc;
  color: #353535;
  font-weight: 400;
  padding-left: 25px;
  &:before{
    display: block;
        width: 22px;
    height: 23px;
    position: absolute;
    left: 20%;
    top: 11px;
    content: '';
  }
  
  &.btn-rating--good:before {
    background: url(../images/icon-rating.png);
  }
  &.btn-rating--good:hover {
  background-color: #41bf76;
    
    &:before{
      background: url(../images/icon-rating--hover.png);
    }
}
  &.btn-rating--bad:before {
    background: url(../images/icon-rating.png);
    top: 14px;
    transform: scale(1, -1);
  }
  
  &.btn-rating--bad:hover {
  background-color: #e22c2c;
    
    &:before{
      background: url(../images/icon-rating--hover.png);
      transform: scale(1, -1);
    }
  }
}
  
  &-rating--good:hover {
  background-color: #41bf76;
}


&-wide {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 8px 41px;
}

&-green {
  background-color: #41bf76;
}

&-green:hover {
  background-color: #2a8b53;
}

&-empty {
  color: #43bf76;
  border: 2px solid #43bf76;
  border-radius: 5px;
  text-decoration: underline;
  
  &:hover {
  background: #43bf76;
  color: white;
}
}
    &-fill {
  color: white;
  border: 2px solid #43bf76;
  border-radius: 5px;
  
  &:hover {
     background-color: #2a8b53;
}
}
  
  &-up {
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 5px;
    background-color: #585858;
    padding: 8px 65px 8px 50px;
    
    &:before{
          display: block;
        width: 25px;
    height: 26px;
    position: absolute;
    right: 23px;
    top: 8px;
      background: url(../images/icon-gotop.png);
    content: '';
    }
    
    &:hover {
      background-color: #41bf76;
      
      &:before{
        background: url(../images/icon-gotop--hover.png);
      }

    }
  }



&-more {
  padding-left: 80px;
  
  &:before {
  content: '';
  background: url(../images/icon-more.png);
  display: block;
  width: 24px;
  height: 21px;
  position: absolute;
  left: 25%;
  top: 9px;
}
  &:hover:before {
  background: url(../images/icon-more-white.png);
}
}

}




input, textarea {
  position: relative;
  background-color: white;
  padding: 11px 15px;
  border: 2px solid rgba(56, 56, 56, .4);
  color: #4d5255;
  font-family: 'Roboto';
  resize: none;
  font-size: 16px;
  font-size: 1.6rem;
      font-weight: 400;
  line-height: 23px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: all;
  transition-property: all;
  /* Firefox 19+ */
  /* Firefox 18- */
  
  &.input-error {
      border: 2px solid #e22c2c;
  }
  
  &.required {
    background:  url(../images/required.png) 99% 5px no-repeat, white;
  }
    
    &.price {
        padding-right: 30px;

        background:  url(../images/rub.png) no-repeat 95%, white ;

    }
}



input:focus, textarea:focus {
  outline: none;
  border: 2px solid #41bf76;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 100;
  color: #b8b8b8;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 100;
  color: #b8b8b8;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 100;
  color: #b8b8b8;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 100;
  color: #b8b8b8;
}

p, span {
      &.required-before:before
   {
        content: ' *';
        color: red;
        padding-right: 5px;

      }
  &.required-after:after {
    content: ' *';
        color: red;
        padding-left: 5px;
  }
}
  
  


.form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
    
    .header {
        width: 100%;
        margin-bottom: 10px;
    }
     p.h5 {
  width: 100%;
}
      .btn-empty {
	color: #46c177;
    text-decoration: none;
          
          &:hover {
              color: white;
          }
}
}


.form input, .form textarea {
  width: 100%;
}

.form .field-block {
  width: 63%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
  &.error {
    &:after {
      content: 'перейти на сайт';
    display: block;
    color: white;
    position: absolute;
    font-size: 1.3rem;
    font-weight: 400;
    width: 135px;
    height: 26px;
    background-color: #3d3d3d;
    border-radius: 5px;
    right: -50%;
    top: -150%;
    text-align: center;
    }
  }
    .btn-wide {
         align-self: flex-end;
    }
    .required-field {
        width: 50%;
	    display: block;
}
    
    .quarter {
        width: 22%;
    }
       
}

.field-block--input, .field-block--named {
  width: 48%;
  margin-bottom: 25px;
  
  
}

.form .field-block--textarea {
  width: 100%;
  margin-bottom: 10px;
  &>p{
    margin-bottom: 10px;
  }
}

.form .other-block {
  width: 34%;
      display: flex;
    flex-flow: column;
    justify-content: space-between;
  
  &>a.btn {
        align-self: flex-end;
        flex-grow: 0;
       padding: 8px 0;
      width: 47%;
  }
  p.error {
        flex-grow: 2;
  
  }



}

.form .required-field {
  align-self: center;
  font-weight: 400;
}

.field-block--named {
      width: 48%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    span {
         display: inline-block;
    padding: 10px 20px;
    line-height: normal;
    background-color: #46c177;
    border: 1px solid #383838;
    color: white;
    font-size: 15px;
    font-weight: 300;
    width: 150%;
    line-height: 24px;

    }
    input {
     width: 100%;
      border-left: none;
            padding-right: 35px;

    }
  
}

.icon-social {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.icon-social:hover {
  opacity: .8;
}

.icon-social--tw {
  background: url(../images/icon-social-tw.png);
}

.icon-social--fb {
  background: url(../images/icon-social-fb.png);
}

.icon-social--ig {
  background: url(../images/icon-social-ig.png);
}

.input-search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.input-search input {
  background-color: rgba(255, 255, 255, 0.11);
  border: 1px solid #737373;
  color: white;
}

.input-search .btn {
  width: 102px;
  height: 45px;
  line-height: 45px;
  background-color: #0082d5;
  background-image: linear-gradient(to top, #711014 0%, #c91118 6%, #e51c24 100%);
  border-radius: 0px 5px 5px 0px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.45);
}

.link-mail {
  font-weight: 400;
}

.link-mail:before {
  content: url(../images/icon-mail.png);
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.phone {
  text-decoration: none;
  font-weight: 700;
}

.line {
  position: relative;
  height: 3px;
  background-color: #efefef;
    &:after {

    position: absolute;
    right: 0;
    top: -40px;
    content: '';
    display: block;
    background: url(../images/icon-car.png) no-repeat;
    width: 80px;
    height: 40px;
  }

}

.required-field {
  color: #d2d2d2;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 25px;
  text-align: left;
}

.other-companies-wrapper {
display: none;
width: 100%;
}
.other-companies {
  margin: 10px 0 20px 0;
  display: flex;
	justify-content: space-around;
    align-self: stretch;
  height: auto;
}

.item-card {
  padding: 15px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.rating {
  display: inline-block;
  border: 1px solid #d7141c;
  border-radius: 50%;
  padding: 10px;
  color: #d7141c;
}

.avatar {
  text-align: center;
}

.avatar img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.avatar .name, .avatar .role {
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 24px;
}

.crumbs {
  
  padding: 20px 0;
a, span {
	color: #ccc;
    font-size: 1.4rem;
  text-decoration: none;

  
  &:before {
    content: ' / ';
  }
  
    &:first-child:before {
      content: '';
    }
}
}

.card-text {
  width: 65%;
  display: flex;
  flex-flow: column nowrap;
}

.card-text .divider {
  background-color: #ecf1f4;
  margin: 15px 0;
}

.card-text .top span, .card-text .top a {
  font-size: 2.0rem;
  font-weight: 300;
  line-height: 24px;
}

.card-text p {
  margin-bottom: 30px;
}

.client-info {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.5rem;
  margin: 15px 0;
}

.client-info .param, .client-info .value {
  width: 50%;
  margin-bottom: 5px;
}

.client-info .param {
  color: #8f8f8f;
}

.client-info .value {
  color: #222;
}

.client-results {
  margin: 15px 0;
}

.slider-results {
  margin: 40px 0 20px 0;
}

.transparent-line {
  background: rgba(255, 255, 255, 0.65);
}

.service-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.service-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px;
}

.service-item p {
  margin: 15px 0;
}

.service-item .price {
  font-size: 2.0rem;
  color: #e51c24;
  font-weight: 400;
}

.service-item .link {
  font-weight: 400;
}

.service-item a {
  display: inline-block;
}

.tech-info {
  width: 57%;
    img {
        margin-top: 10px;
    }
}

footer {
  padding: 20px 0 50px 0;
  color: #828282;
  background-color: #f4f4f4;
  box-shadow: 0 3px 0 #ececec;
  font-size: 1.4rem;
    .item-between {
        align-items: flex-start;
    }
}

.second-bg {
  background-color: #f0f0f0;
  
  .line{
    background-color: #e0e0e0;
  }
}

.more-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 15px 25px 25px 25px;
  background-color: rgba(242, 241, 241, 0.45);
  border-radius: 5px;
}

.more-info .text-lite {
  align-self: flex-end;
}

.more-info a.btn {
  text-align: center;
}

.comments-block {
  display: flex;
  flex-flow: column nowrap;

}

.comment-card {
      width: 100%;
  display: flex;
//  justify-content: space-between;
    align-items: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 25px 0;
     
}

.comment-card img {
  width: 13%;
  height: auto;
}

.comment-card .info {
  width: 80%;
  padding: 10px 100px 25px 25px;
  font-weight: 400;
   min-height: 200px;
}

.comment-card .client-name {
  display: inline-block;
  color: #232329;
  font-size: 1.6rem;
  font-weight: 700;
}

.comment-card .icon-comment, .comment-card .client-name {
  margin-bottom: 40px;
}

.comment-card .line {
  flex-basis: 100%;
}

.icon-comment {
  display: inline-block;
  margin-right: 25px;
  padding-left: 45px;
  position: relative;
  color: #7b7b7b;
  font-size: 1.4rem;
  font-weight: 400;
}

.icon-comment:before {
  display: block;
  position: absolute;
  left: 0;
  width: 37px;
  height: 37px;
  top: -9px;
}

.icon-comment--good:before {
  background: url(../images/good-comment.png);
  content: '';
}

.icon-comment--bad:before {
  background: url(../images/bad-comment.png);
  content: '';
}

.give-feedback {
  min-height: 600px;
  background-color: #383838;
  border-top: 5px solid #46c177;
    padding-bottom: 70px;
  
  .h2 {
  color: white;
  font-weight: 700;
    margin-bottom: 25px;
}
  
  p {
  color: white;
  font-weight: 400;
}
  
    .btn {
        font-size: 1.6rem;
    }

  
  .btn-up{
    position: absolute;
    left: 50%;
    margin-left: -80px;
        bottom: -40px;
  }
    .form .field-block  {
    .required-field {
        width: 100%;
        text-align: right;
    }
        }

}


.thanks {
  display: none;
//      display: flex;
    align-items: center;
      justify-content: space-between;
    min-height: 650px;
  .h1 {
margin-bottom: 10px;}
  
  &>img{
        position: relative;
    z-index: 2;
  }
  
  .line {
    position: absolute;
    height: 3px;
    background-color: #626262;
    width: 85%;
    right: 0;
        top: 70%;
    z-index: 1;
    
    
    &:after {
      right: 40%;
      background: url(../images/icon-car--dark.png) no-repeat;
    }

}
}



 
section.contacts {
  display: flex;
  flex-flow: row wrap;
}

section.contacts .contact-info {
  width: 60%;
  margin-top: 10px;
  padding-right: 60px;
}

section.reviews .title {
  width: 92%;
}

section.clients .title {
  width: 92%;
}

section.clients .item-card {
  justify-content: space-around;
}

section.clients .card-text {
  width: 40%;
}

section.clients .nav-container {
  top: -140px;
}


.rating-button {
  display: flex;
  justify-content: space-between;
  
  input[type=radio] {
    display: none;
    

  }

}

    #rate1:checked + label {
      background: #41bf76;
      
      &.btn-rating--good:before {
            background: url(../images/icon-rating--hover.png);
      }
    }
    #rate2:checked + label {
      background: #e22c2c;
      &.btn-rating--bad:before {
            background: url(../images/icon-rating--hover.png);
            transform: scale(1,-1);
      }
      
    }

span.btn {

  

}

input[type=file] {
    cursor: pointer !important;
    position: absolute;
    top: 0;
    right: 0;
    width: 200%;
    opacity: 0;
}

.download-block {
  display: flex;
  flex-flow: row wrap;
      align-content: flex-start;
      flex-grow: 1;
  &>p{
    width: 100%;
//    margin-bottom: 10px;
  }
  .file-list {
    display: flex;
    flex-flow: column;
      
      &._black a {
          color: black;
      }
    a {
        display: none;
      width: 100%;
      color: white;
      text-decoration: none;
      position: relative;
      &:after{
        content: '';
        background: url(../images/icon-delete.png);
        display: block;
        width: 14px;
        height: 14px;
        position: absolute;
        right: -20px;
    top: 7px;
      }
    }
    padding: 0 10px;

  }
}

.download-input {
  display: flex;
  align-items: center;
        width: 100%;
    &>span {
        font-size: 1.6rem;
        width: 47%;
    }
    .btn-wide {

    padding: 8px 0;
    }
    
}

.rating-block {
	flex-grow: 5;
  &>p{
    margin-bottom: 10px;
  }
}

.company-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  padding: 25px 0;
  width: 100%;
  .visual {
    flex-grow: 0;
    margin-right: 30px;
    &-rating {
      margin-top: 10px;
      span {
        font-size: 2.6rem;
        font-weight: 700;
        sup {
          font-size: 1.6rem;
        }
      }
    }
  }
  .content {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
  }
  .about {
    display: flex;
          flex-grow: 1;
    .info,
    .contacts-block {
      flex-basis: 50%;
            flex-grow: 1;
    }
    h1 {
      margin-bottom: 30px;
    }
    
    
  }
  
  .services-about {
	margin-bottom: 50px;
}
  .services {

      .services-list {
          margin-top: 15px;
      }
    display: flex;
    justify-content: space-between;
    h1,
    &-options {
      margin-bottom: 30px;
    }
    &-options {
      li>span {
        font-weight: 700;
      }
    }
    &-list {
      li {
        margin-bottom: 10px;
      }
    }
    .comment-card {
      padding: 0;
      .info {
        width: 100%;
        margin-top: 25px;
        padding: 0;
        font-weight: 400;
        .icon-comment {
          margin-bottom: 20px;
          float: left;
        }
        .client-name {
          margin-bottom: 20px;
          float: right;
        }
      }
    }
    .comments-block {
      flex-basis: 50%;
        text-align: right;
        margin-top: 15px;
        p.header {
            margin-bottom: 10px;
        }
      }
  }
  .about {

    .contacts-block {
      text-align: right;
      flex-grow: 1;
      a[href^="tel"] {
        display: inline-block;
        color: #353535;
        font-weight: 700;
        text-decoration: none;
        margin-bottom: 30px;
      }
    }
  }
}
.rights {
    margin-top: 10px;
    text-align: right;
}


 article { 
   padding: 25px 0 0 0;
    &>p {
      margin-bottom: 15px;
    }
    img {
      
      &:nth-child(odd) {
        float: right;
         margin-left: 20px;
      }
      &:nth-child(even) {
        float: left;
        margin-right: 20px;
      }
      
    }
  } 

.icon-info {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/icon-info.png) no-repeat;
  transition: background 1s ease-out;
  
  &:hover{
    background: url(../images/icon-info--hover.png) no-repeat;
  }
}

.mymap {
  margin: 25px 0;
}

.map-tooltip {
  color: white;
  padding: 15px 20px;
  background-color: rgba(58, 58, 58, .9);
  border: 1px solid white;
}

/* Базовый контейнер табов */
.tabs {
display: flex;
    flex-wrap: wrap;
input {
  display: none;
}
/* стили секций с содержанием */
section {
  display: none;
      flex-basis: 100%;

}
  label {
      flex-grow: 1;
  
  font-size: 2.0rem;
  display: inline-block;
  margin: 0 5px;
  padding: 5px 25px;
  font-weight: 400;
  text-align: center;
  color: #2e3a2d;
  background-color: #f9f9f9;
  border-radius: 5px 5px 0px 0px;
}
  }



/* изменения стиля заголовков вкладок при наведении */
.tabs label:hover {
  background-color: #383838;
border-radius: 5px 5px 0px 0px;
  color: white;
}
/* стили для активной вкладки */
.tabs input:checked + label {
  color: white;
  background-color: #46c177;
border-radius: 5px 5px 0px 0px;
}
/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8,
#tab9:checked ~ #content9
{
  display: block;
}


