.fixblock {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.block {
  padding: 25px 0;
    
    &:first-of-type {
         padding: 50px 0 25px 0;
    }
    
    &:last-of-type {
         padding: 25px 0 50px 0;
    }
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
}
.clear {
  clear: both;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #606060;
}

.divider-vertical {
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #3f4244;
}
 
.map-wrapper {
  margin-bottom: 1.5%;
}
.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .info {
    padding: 0 10px;
  }
}
 
.item-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.item-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.item-list {
  margin: 70px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}


.item-article {
  display: flex;
    align-items: flex-start;

    justify-content: flex-start;
//        align-items: center;
  
  .info {
    padding: 0 10px;
  }
}


