.slider-marker {
  
  
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 150px;
  background: white;
  text-decoration: none;
  
  
  .img-container {
     display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
   border: 3px solid #dfdfdf;
    
    img {
      width: 100%;
       height: 100%;
    }
    
    &:hover {
     border: 3px solid #42be76;
      &:before {
      content: '';
      display: block;
      background: url(../images/slider-arrow.png);
      width: 36px;
      height: 16px;
          position: absolute;
    top: -16px;
    bottom: -20px;
    left: 50%;
    margin-left: -18px;

   
    }
      
  }
    
    
  }
  
  p {
    color: #353535;
    &>span{

      font-weight: 700;
    }
  }
  
}