/* TYPOGRAPHY */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic);

$roboto: 'Roboto', sans-serif;
$robotoC: 'Roboto Condensed', sans-serif;

html {
      font-size: 62.5%;
}
  body {
    font-family: $roboto;
    font-size: 1.6rem;
    
}

h1, h2, h3, h4 {
  font-weight: 700;
}

sup.up {
  color: #58c487;
  
}

sup.down {
  color: #d13131;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: $roboto;
    color: #4d5255;
    
    margin: 10px 0 5px;
}

h1, .h1 {
    font-size: 44px;
    font-size: 4.4rem;
    line-height: 50px;
}

h2, .h2 {
    font-size: 40px;
    font-size: 4.0rem;
    line-height: 44px;
}
h3, .h3 {
    font-size: 38px;
    font-size: 3.8rem;
    line-height: 42px;
}
h4, .h4 {
    font-size: 34px;
    font-size: 3.4rem;
    line-height: 38px;
}
h5, .h5 {
    font-size: 30px;
    font-size: 3.0rem;
    line-height: 34px;
}
h6, .h6 {
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 30px;
}


p {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 25px;
    font-weight: 400;
}
  p.header {
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 22px;
    font-family: $roboto;
  }

ul, span {
  font-weight: 400;
}
a {
    color: #43bf76;
}

a:hover {
    text-decoration: none;
}

a[href$=".pdf"] {
    font-weight: 700;

  &:after {
    content: url(../images/pdf.png);
      position: relative;
    top: 7px;
    margin-left: 10px;
  }
}
a[href$=".doc"] {
  font-weight: 700;
  &:after {
    content: url(../images/doc.png);
    position: relative;
    top: 7px;
    margin-left: 10px;
  }
}

p.error {
  color: red !important;
}

.text-lite {
  color: #a2a2a2 !important;
font-size: 1.2rem;
font-weight: 400;
    line-height: 22px;
}

.text-bg {
    background: rgba(67, 191, 118, 0.28);
    padding: 20px;
    border: 2px #43bf76 solid;
    margin: 15px 0;
}



div.list {
  ul {
  list-style: none;
  margin: 10px 0;
  
  li {
  padding-left: 20px;
  position: relative;
    
    a {
          text-decoration: none;
    }
    
    &:before {
  content: '■';
      position: absolute;
  color: #43bf76;
          left: 0;
    top: -1px;
}
    }
}
} 

blockquote {
    position: relative;
    padding: 20px 90px;
    font-size: 2.5rem;
    font-style: italic;
        color: #4d5255;
    
    &:before {
        position: absolute;
        content: "«";
        font-size: 9.6rem;
        left: 0;
//        position: absolute;
        top: 0;
        opacity: 0.2;
        font-style: normal;
    }
    &:after {
        content: "»";
        font-size: 9.6rem;
        right: 0;
        position: absolute;
        bottom: 0;
        opacity: 0.2;
        font-style: normal;
    }
}

.baloon-text {font-family: "Roboto",sans-serif; font-size: 1.4rem;}
.baloon-href {font-family: "Roboto",sans-serif; font-size: 1.6rem;}

