@import 'reset';
@import 'owl.carousel';
@import 'typography';
@import 'helpers';
@import 'lightcase';
@import 'slider'; 
@import 'blocks'; 



section.hello { 
  position: relative;
  background: url(../images/bg-hello.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; 
      padding: 20px 0 40px 0;

     
    &>h1 {   
      font-size: 4.0rem;             
    }     
    
  
  .phone {     
  font-size: 3.0rem;    
  font-weight: 400;
  color: #4c4c4c;  
}  
    .field-block {
        margin: 25px 0;
        width: 100%; 
    } 
         
}  
 

section.contacts { 
  display: flex;  
  flex-flow: row wrap; 
           
  .contact-info {  
    width: 60%;
    margin-top: 10px;
    padding-right: 60px;    
  }  
}      
 
section.reviews { 
  .title  {
    width: 92%;
  }
}
 
section.clients {
  .title {
    width: 92%;
  }
  .item-card {
    justify-content: space-around;
  }
  .card-text {
    width: 40%;
  }
  .nav-container {
    top: -140px;  
  }
} 
 
.check {
          padding: 30px 0 15px 0;
  a {
    width: 30%;
  }
  img {
    width: 100%;
    border: 2px solid transparent;
    transition: border .3s;
    &:hover { 
      border: 2px solid #46c177;
    }
  }
      
  
}
     
.contacts-page {

   
    .contact-info {    
           margin: 25px 0;
	display: flex;  
        justify-content: space-around;
}
    p.header {  
        font-weight: bold;  
        margin-bottom: 7px;  
    }
    [itemprop="address"] {  
        margin-bottom: 20px;  
        .header {   
            font-weight: bold; 
        }   
    } 
    [itemprop="name"] {
        display: none;
    }
    a {
        display: block;
    }
}

.page-404 {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    a {
            font-weight: 400;
    font-size: 2.2rem;
    margin-top: 20px;
    }
}

.other-trigger {
    margin-top: 20px;
}
                