@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0px;
  padding: 0px;
  outline: none; }

html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

input,
textarea,
select,
button {
  outline: none;
  font-weight: 500;
  border-radius: 0; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  background: #f4f4f4; }

ul {
  list-style: none; }

ol {
  padding-left: 15px; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left; }

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel .owl-refresh .owl-item {
  display: none; }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1; }

/* NAVIGATION */
.nav-container {
  position: absolute;
  top: -73px;
  right: 0; }

.nav-medium {
  width: 30px;
  height: 30px; }

.nav-right, .nav-left {
  background: url(../images/nav-arrow.png) no-repeat;
  background-size: contain;
  float: right;
  cursor: pointer;
  margin: 0 5px; }

.nav-left {
  transform: scale(-1, 1);
  float: left; }

.owl-dots {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 160px;
  text-align: center; }
  .owl-dots .owl-dot {
    display: inline-block;
    margin-right: 15px;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 5px; }
    .owl-dots .owl-dot:hover {
      background: white; }
    .owl-dots .owl-dot.active {
      background: white; }

/*# sourceMappingURL=owl.carousel.css.map */
/* TYPOGRAPHY */
html {
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem; }

h1, h2, h3, h4 {
  font-weight: 700; }

sup.up {
  color: #58c487; }

sup.down {
  color: #d13131; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Roboto", sans-serif;
  color: #4d5255;
  margin: 10px 0 5px; }

h1, .h1 {
  font-size: 44px;
  font-size: 4.4rem;
  line-height: 50px; }

h2, .h2 {
  font-size: 40px;
  font-size: 4.0rem;
  line-height: 44px; }

h3, .h3 {
  font-size: 38px;
  font-size: 3.8rem;
  line-height: 42px; }

h4, .h4 {
  font-size: 34px;
  font-size: 3.4rem;
  line-height: 38px; }

h5, .h5 {
  font-size: 30px;
  font-size: 3.0rem;
  line-height: 34px; }

h6, .h6 {
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 30px; }

p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 25px;
  font-weight: 400; }

p.header {
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 22px;
  font-family: "Roboto", sans-serif; }

ul, span {
  font-weight: 400; }

a {
  color: #43bf76; }

a:hover {
  text-decoration: none; }

a[href$=".pdf"] {
  font-weight: 700; }
  a[href$=".pdf"]:after {
    content: url(../images/pdf.png);
    position: relative;
    top: 7px;
    margin-left: 10px; }

a[href$=".doc"] {
  font-weight: 700; }
  a[href$=".doc"]:after {
    content: url(../images/doc.png);
    position: relative;
    top: 7px;
    margin-left: 10px; }

p.error {
  color: red !important; }

.text-lite {
  color: #a2a2a2 !important;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 22px; }

.text-bg {
  background: rgba(67, 191, 118, 0.28);
  padding: 20px;
  border: 2px #43bf76 solid;
  margin: 15px 0; }

div.list ul {
  list-style: none;
  margin: 10px 0; }
  div.list ul li {
    padding-left: 20px;
    position: relative; }
    div.list ul li a {
      text-decoration: none; }
    div.list ul li:before {
      content: '■';
      position: absolute;
      color: #43bf76;
      left: 0;
      top: -1px; }

blockquote {
  position: relative;
  padding: 20px 90px;
  font-size: 2.5rem;
  font-style: italic;
  color: #4d5255; }
  blockquote:before {
    position: absolute;
    content: "«";
    font-size: 9.6rem;
    left: 0;
    top: 0;
    opacity: 0.2;
    font-style: normal; }
  blockquote:after {
    content: "»";
    font-size: 9.6rem;
    right: 0;
    position: absolute;
    bottom: 0;
    opacity: 0.2;
    font-style: normal; }

.baloon-text {
  font-family: "Roboto",sans-serif;
  font-size: 1.4rem; }

.baloon-href {
  font-family: "Roboto",sans-serif;
  font-size: 1.6rem; }

.fixblock {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px; }

.block {
  padding: 80px 0 20px 0; }

.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center; }

.clear {
  clear: both; }

.divider {
  height: 1px;
  width: 100%;
  background-color: #606060; }

.divider-vertical {
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #3f4244; }

.map-wrapper {
  margin-bottom: 1.5%; }

.item-center {
  display: flex;
  justify-content: center;
  align-items: center; }
  .item-center .info {
    padding: 0 10px; }

.item-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.item-list {
  margin: 70px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.item-article {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }
  .item-article .info {
    padding: 0 10px; }

/**
 * Lightcase - jQuery Plugin
 * The smart and flexible Lightbox Plugin.
 *
 * @author		Cornel Boppart <cornel@bopp-art.com>
 * @copyright	Author
 *
 * @version		2.3.4 (29/12/2015)
 */
/**
 * Lightcase settings
 *
 * Note: Override default settings for your project without touching this source code by simply
 * defining those variables within a SASS map called '$lightcase-custom'.
 *
 * // Example usage
 * $lightcase-custom: (
 *   'breakpoint': 768px
 * );
 */
@font-face {
  font-family: 'lightcase';
  src: url("../fonts/lightcase.eot?55356177");
  src: url("../fonts/lightcase.eot?55356177#iefix") format("embedded-opentype"), url("../fonts/lightcase.woff?55356177") format("woff"), url("../fonts/lightcase.ttf?55356177") format("truetype"), url("../fonts/lightcase.svg?55356177#lightcase") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 12, ../scss/components/fonts/_font-lightcase.scss */
[class*='lightcase-icon-']:before {
  font-family: 'lightcase', sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* Codes */
/* line 35, ../scss/components/fonts/_font-lightcase.scss */
.lightcase-icon-play:before {
  content: '\e800'; }

/* line 36, ../scss/components/fonts/_font-lightcase.scss */
.lightcase-icon-pause:before {
  content: '\e801'; }

/* line 37, ../scss/components/fonts/_font-lightcase.scss */
.lightcase-icon-close:before {
  content: '\e802'; }

/* line 38, ../scss/components/fonts/_font-lightcase.scss */
.lightcase-icon-prev:before {
  content: '\e803'; }

/* line 39, ../scss/components/fonts/_font-lightcase.scss */
.lightcase-icon-next:before {
  content: '\e804'; }

/* line 40, ../scss/components/fonts/_font-lightcase.scss */
.lightcase-icon-spin:before {
  content: '\e805'; }

/**
 * Mixin providing icon defaults to be used on top of font-lightcase.
 *
 * Example usage:
 * @include icon(#e9e9e9)
 */
/**
 * Mixin providing icon defaults including a hover status to be used
 * on top of font-lightcase.
 *
 * Example usage:
 * @include icon-hover(#e9e9e9, #fff)
 */
/**
 * Provides natural content overflow behavior and scrolling support
 * even so for touch devices.
 *
 * Example usage:
 * @include overflow()
 */
/**
 * Neutralizes/resets dimensions including width, height, position as well as margins,
 * paddings and styles. Used to enforce a neutral and unstyled look and behavoir!
 *
 * Example usage:
 * @include clear(true)
 *
 * @param boolean $important
 */
@-webkit-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-moz-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-o-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-ms-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

/* line 1, ../scss/components/modules/_case.scss */
#lightcase-case {
  display: none;
  position: fixed;
  z-index: 2002;
  top: 50%;
  left: 50%;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

@media screen and (max-width: 640px) {
  /* line 16, ../scss/components/modules/_case.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none !important; } }

@media screen and (min-width: 641px) {
  /* line 4, ../scss/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=error]) #lightcase-content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-shadow: none;
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden; } }

@media screen and (min-width: 641px) {
  /* line 24, ../scss/components/modules/_content.scss */
  #lightcase-case[data-lc-type=image] #lightcase-content, #lightcase-case[data-lc-type=video] #lightcase-content {
    background-color: #333; } }

/* line 32, ../scss/components/modules/_content.scss */
#lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

@media screen and (max-width: 640px) {
  /* line 32, ../scss/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none !important; } }

/* line 42, ../scss/components/modules/_content.scss */
#lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (max-width: 640px) {
  /* line 42, ../scss/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner {
    padding: 15px; }
  /* line 51, ../scss/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner, #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner > * {
    width: 100% !important;
    max-width: none !important; }
  /* line 58, ../scss/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner > *:not(iframe) {
    height: auto !important;
    max-height: none !important; } }

@media screen and (max-width: 640px) {
  /* line 69, ../scss/components/modules/_content.scss */
  .lightcase-isMobileDevice #lightcase-case[data-lc-type=iframe] #lightcase-content .lightcase-contentInner {
    overflow: auto;
    -webkit-overflow-scrolling: touch; } }

@media screen and (max-width: 640px) and (min-width: 641px) {
  /* line 73, ../scss/components/modules/_content.scss */
  [data-lc-type=image] #lightcase-content .lightcase-contentInner, [data-lc-type=video] #lightcase-content .lightcase-contentInner {
    line-height: 0.75; } }

/* line 85, ../scss/components/modules/_content.scss */
.lightcase-isMobileDevice #lightcase-case[data-lc-type=iframe] #lightcase-content .lightcase-contentInner .lightcase-inlineWrap {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

@media screen and (max-width: 640px) {
  /* line 90, ../scss/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner .lightcase-inlineWrap {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none !important; } }

@media screen and (min-width: 641px) {
  /* line 97, ../scss/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=error]) #lightcase-content .lightcase-contentInner .lightcase-inlineWrap {
    padding: 30px;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; } }

@media screen and (max-width: 640px) {
  /* line 114, ../scss/components/modules/_content.scss */
  #lightcase-content h1, #lightcase-content h2, #lightcase-content h3, #lightcase-content h4, #lightcase-content h5, #lightcase-content h6, #lightcase-content p {
    color: #aaa; } }

@media screen and (min-width: 641px) {
  /* line 114, ../scss/components/modules/_content.scss */
  #lightcase-content h1, #lightcase-content h2, #lightcase-content h3, #lightcase-content h4, #lightcase-content h5, #lightcase-content h6, #lightcase-content p {
    color: #333; } }

/* line 3, ../scss/components/modules/_error.scss */
#lightcase-case p.lightcase-error {
  margin: 0;
  font-size: 17px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aaa; }

@media screen and (max-width: 640px) {
  /* line 3, ../scss/components/modules/_error.scss */
  #lightcase-case p.lightcase-error {
    padding: 30px 0; } }

@media screen and (min-width: 641px) {
  /* line 3, ../scss/components/modules/_error.scss */
  #lightcase-case p.lightcase-error {
    padding: 0; } }

/* line 6, ../scss/components/modules/_global.scss */
.lightcase-isMobileDevice .lightcase-open body {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden; }

@media screen and (max-width: 640px) {
  /* line 4, ../scss/components/modules/_global.scss */
  .lightcase-open body {
    padding: 55px 0 70px 0; }
  /* line 15, ../scss/components/modules/_global.scss */
  .lightcase-open body > *:not([id*='lightcase-']) {
    position: fixed !important;
    top: -9999px !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important; } }

/* line 1, ../scss/components/modules/_info.scss */
#lightcase-info {
  position: absolute;
  padding-top: 15px; }

/* line 9, ../scss/components/modules/_info.scss */
#lightcase-info #lightcase-title,
#lightcase-info #lightcase-caption {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: normal;
  text-overflow: ellipsis; }

/* line 19, ../scss/components/modules/_info.scss */
#lightcase-info #lightcase-title {
  font-size: 17px;
  color: #aaa; }

@media screen and (max-width: 640px) {
  /* line 19, ../scss/components/modules/_info.scss */
  #lightcase-info #lightcase-title {
    position: fixed;
    top: 10px;
    left: 0;
    max-width: 87.5%;
    padding: 5px 15px;
    background: #333; } }

/* line 33, ../scss/components/modules/_info.scss */
#lightcase-info #lightcase-caption {
  clear: both;
  font-size: 13px;
  color: #aaa; }

/* line 39, ../scss/components/modules/_info.scss */
#lightcase-info #lightcase-sequenceInfo {
  font-size: 11px;
  color: #aaa; }

@media screen and (max-width: 640px) {
  /* line 45, ../scss/components/modules/_info.scss */
  .lightcase-fullScreenMode #lightcase-info {
    padding-left: 15px;
    padding-right: 15px; }
  /* line 51, ../scss/components/modules/_info.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-info {
    position: static; } }

/* line 1, ../scss/components/modules/_loading.scss */
#lightcase-loading {
  position: fixed;
  z-index: 9999;
  width: 1.123em;
  height: auto;
  font-size: 38px;
  line-height: 1;
  text-align: center;
  text-shadow: none;
  position: fixed;
  z-index: 2001;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  opacity: 1;
  font-size: 32px;
  text-shadow: 0 0 15px #fff;
  -moz-transform-origin: 50% 53%;
  -webkit-animation: lightcase-spin 0.5s infinite linear;
  -moz-animation: lightcase-spin 0.5s infinite linear;
  -o-animation: lightcase-spin 0.5s infinite linear;
  animation: lightcase-spin 0.5s infinite linear; }

/* line 20, ../scss/components/mixins/_presets.scss */
#lightcase-loading, #lightcase-loading:focus {
  text-decoration: none;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: color, opacity, ease-in-out 0.25s;
  -moz-transition: color, opacity, ease-in-out 0.25s;
  -o-transition: color, opacity, ease-in-out 0.25s;
  transition: color, opacity, ease-in-out 0.25s; }

/* line 32, ../scss/components/mixins/_presets.scss */
#lightcase-loading > span {
  display: inline-block;
  text-indent: -9999px; }

/* line 4, ../scss/components/modules/_navigation.scss */
#lightcase-nav a[class*='lightcase-icon-'] {
  position: fixed;
  z-index: 9999;
  width: 1.123em;
  height: auto;
  font-size: 38px;
  line-height: 1;
  text-align: center;
  text-shadow: none;
  outline: none;
  cursor: pointer; }

/* line 20, ../scss/components/mixins/_presets.scss */
#lightcase-nav a[class*='lightcase-icon-'], #lightcase-nav a[class*='lightcase-icon-']:focus {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: color, opacity, ease-in-out 0.25s;
  -moz-transition: color, opacity, ease-in-out 0.25s;
  -o-transition: color, opacity, ease-in-out 0.25s;
  transition: color, opacity, ease-in-out 0.25s; }

/* line 32, ../scss/components/mixins/_presets.scss */
#lightcase-nav a[class*='lightcase-icon-'] > span {
  display: inline-block;
  text-indent: -9999px; }

/* line 49, ../scss/components/mixins/_presets.scss */
#lightcase-nav a[class*='lightcase-icon-']:hover {
  color: white;
  text-shadow: 0 0 15px white; }

/* line 12, ../scss/components/modules/_navigation.scss */
.lightcase-isMobileDevice #lightcase-nav a[class*='lightcase-icon-']:hover {
  color: #aaa;
  text-shadow: none; }

/* line 19, ../scss/components/modules/_navigation.scss */
#lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-prev {
  left: 15px; }

/* line 24, ../scss/components/modules/_navigation.scss */
#lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-next {
  right: 15px; }

/* line 29, ../scss/components/modules/_navigation.scss */
#lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-pause, #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-play {
  left: 50%;
  margin-left: -0.5em; }

@media screen and (min-width: 641px) {
  /* line 29, ../scss/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-pause, #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-play {
    opacity: 0; } }

/* line 40, ../scss/components/modules/_navigation.scss */
#lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-close {
  top: 15px;
  right: 15px;
  bottom: auto;
  margin: 0;
  opacity: 0;
  outline: none; }

@media screen and (max-width: 640px) {
  /* line 40, ../scss/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-close {
    position: absolute; } }

@media screen and (min-width: 641px) {
  /* line 40, ../scss/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-close {
    position: fixed; } }

@media screen and (max-width: 640px) {
  /* line 4, ../scss/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-'] {
    bottom: 15px;
    font-size: 24px; } }

@media screen and (min-width: 641px) {
  /* line 4, ../scss/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-'] {
    bottom: 50%;
    margin-bottom: -0.5em; }
  /* line 66, ../scss/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-']:hover, #lightcase-case:hover ~ #lightcase-nav a[class*='lightcase-icon-'] {
    opacity: 1; } }

/* line 1, ../scss/components/modules/_overlay.scss */
#lightcase-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background: #333; }

@media screen and (max-width: 640px) {
  /* line 1, ../scss/components/modules/_overlay.scss */
  #lightcase-overlay {
    opacity: 1 !important; } }

.slider-marker {
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 150px;
  background: white;
  text-decoration: none; }
  .slider-marker .img-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid #dfdfdf; }
    .slider-marker .img-container img {
      width: 100%;
      height: 100%; }
    .slider-marker .img-container:hover {
      border: 3px solid #42be76; }
      .slider-marker .img-container:hover:before {
        content: '';
        display: block;
        background: url(../images/slider-arrow.png);
        width: 36px;
        height: 16px;
        position: absolute;
        top: -16px;
        bottom: -20px;
        left: 50%;
        margin-left: -18px; }
  .slider-marker p {
    color: #353535; }
    .slider-marker p > span {
      font-weight: 700; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  color: #4d5255;
  font-size: 1.6rem;
  line-height: 25px;
  font-weight: 300;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

main {
  flex: 1; }

label {
  cursor: pointer; }

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; }

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.parallax__layer--base {
  transform: translateZ(0); }

.parallax__layer--back {
  transform: translateZ(-1px); }

/* TopMenu */
.title {
  padding: 25px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: center;
  flex-grow: 1; }

.title .h1, .title h1, .title .h2, .title h2 {
  line-height: inherit;
  margin: 0 20px 0 0;
  flex-grow: 0;
  line-height: 36px; }

.title .line {
  flex-grow: 1; }

.top-block {
  border-top: 5px solid #46c177;
  border-bottom: 3px solid #d5dfe3;
  border-radius: 3px;
  background-color: #f8f8f8;
  box-shadow: 0 3px 0 #ececec; }

div.header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between; }

.tagline {
  text-align: right; }

.tagline p.h6 {
  font-weight: 700;
  margin-bottom: 0; }

.menu a, .menu > span {
  color: #50c87a;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline;
  margin-right: 5px; }
  .menu a:hover, .menu > span:hover {
    text-decoration: none; }
  .menu a.active, .menu > span.active {
    font-weight: 500;
    text-decoration: none; }

.menu-header {
  width: 100%;
  text-align: right; }

.menu-footer > a {
  color: #8b8b8b;
  font-weight: 300; }
  .menu-footer > a:after {
    content: '|';
    display: inline-block;
    margin-left: 5px; }
  .menu-footer > a:after:last-child {
    content: ''; }

.menu-static a, .menu-static span {
  color: #8b8b8b;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 0; }

.contacts a {
  color: #3d3d3d;
  display: block;
  font-size: 2.0rem;
  text-decoration: none;
  font-weight: 500;
  line-height: 24px; }

.opinion {
  margin: 35px 0;
  justify-content: center; }
  .opinion img {
    width: 150px;
    height: 150px;
    margin-right: 25px; }
  .opinion .info {
    width: 50%; }

.info-img {
  padding-left: 15px; }
  .info-img:before {
    content: '';
    display: block;
    background: url(../images/icon-info.png) no-repeat;
    width: 15px;
    height: 15px; }

.logo {
  display: inline-block;
  width: 193px;
  height: 42px;
  background: url(../images/logo.png) no-repeat;
  background-size: cover; }

.icon {
  position: relative; }

.icon-up:after {
  content: '';
  position: absolute;
  display: block;
  background: url(../images/icon-up.png);
  background-size: contain;
  width: 8px;
  height: 11px;
  right: 10px;
  top: 15px; }

.icon-down:after {
  content: '';
  position: absolute;
  display: block;
  background: url(../images/icon-down.png);
  background-size: contain;
  width: 8px;
  height: 11px;
  right: 10px;
  top: 16px; }

.link {
  position: relative; }

.link-out:before {
  transition: all 0.3s ease-out;
  content: '';
  display: block;
  background: url(../images/link-out.png) no-repeat center, #f1ffe5;
  width: 35px;
  height: 35px;
  color: white;
  position: absolute;
  font-size: 1.3rem;
  font-weight: 400;
  left: -52px;
  top: -7px;
  opacity: 0; }

.link-out:hover:before, .link-out:hover:after {
  opacity: 1; }

.link-sitemap {
  margin-left: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid rgba(138, 138, 138, 0.5);
  border-radius: 5px; }

.link-sitemap:hover {
  opacity: .8; }

.link-bold {
  color: #272727;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none; }

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-bottom: 2px solid #cad3df;
  border-top: 1px solid #cad3df;
  margin: 25px  auto;
  max-width: 1110px; }

table td {
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  padding: 8px 10px;
  border-right: 1px solid #cad3df;
  vertical-align: middle; }
  table td a {
    text-decoration: none;
    color: #272727; }

table td:last-child {
  border-right: none; }

table td:first-child {
  border-left: none; }

table td:nth-child(2) {
  text-align: left; }

table tr:nth-child(2n) {
  background: rgba(248, 248, 248, 0.7);
  /* Цвет фона */ }

table tr .btn {
  display: none; }

table tr:hover {
  background-color: #f1ffe5; }

table tr:hover .btn {
  display: block; }

table th {
  vertical-align: middle;
  text-align: center;
  padding: 10px 5px;
  color: #353535;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  border-right: 1px solid #cad3df;
  border-bottom: 2px solid #96b1ba;
  font-weight: normal;
  background-color: #edecec;
  border-radius: 5px 5px 0px 0px; }

table th:first-child {
  width: 50px;
  border-left: none; }

table th:last-child {
  width: 150px;
  border-right: none; }

table tr {
  border-top: 1px solid #96b1ba; }

.item {
  padding-left: 110px;
  position: relative; }

.item > a {
  display: inline-block;
  margin-bottom: 30px; }

.item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 85px;
  height: 85px; }

.item.create-site:before {
  background: url(../images/service-create-site.png);
  background-size: contain; }

.item.top-site:before {
  background: url(../images/service-top-site.png);
  background-size: contain; }

.item.conversion-site:before {
  background: url(../images/service-conversion-site.png);
  background-size: contain; }

.item.price:before {
  background: url(../images/service-price.png);
  background-size: contain; }

.item.proffesional:before {
  background: url(../images/service-proffesional.png);
  background-size: contain; }

.item.conditions:before {
  background: url(../images/service-conditions.png);
  background-size: contain; }

.item.price p, .item.proffesional p, .item.conditions p {
  width: 85%; }

.special {
  width: 100%;
  padding: 60px 0;
  text-align: center; }

.special.work-together {
  background: url(../images/bg-work-together.png) no-repeat;
  background-size: cover; }

.special .btn {
  margin: 25px 15px; }

ul.link-list > li {
  padding: 0; }

ul.link-list > li:before {
  content: '— ';
  color: #3b7eab; }

ul.link-list > li a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px; }

.btn {
  display: inline-block;
  text-align: center;
  position: relative;
  border-radius: 5px;
  color: #f9fafb;
  text-decoration: none;
  overflow: hidden; }
  .btn-s {
    padding: 0px 10px;
    font-size: 1.6rem;
    font-weight: 700; }
  .btn-m {
    padding: 15px 35px;
    font-size: 1.6rem;
    font-weight: 400; }
  .btn-l {
    padding: 20px 35px;
    font-size: 1.6rem;
    font-weight: 400; }
  .btn-rating {
    width: 47%;
    height: 50px;
    line-height: 50px;
    background-color: #ccc;
    color: #353535;
    font-weight: 400;
    padding-left: 25px; }
    .btn-rating:before {
      display: block;
      width: 22px;
      height: 23px;
      position: absolute;
      left: 20%;
      top: 11px;
      content: ''; }
    .btn-rating.btn-rating--good:before {
      background: url(../images/icon-rating.png); }
    .btn-rating.btn-rating--good:hover {
      background-color: #41bf76; }
      .btn-rating.btn-rating--good:hover:before {
        background: url(../images/icon-rating--hover.png); }
    .btn-rating.btn-rating--bad:before {
      background: url(../images/icon-rating.png);
      top: 14px;
      transform: scale(1, -1); }
    .btn-rating.btn-rating--bad:hover {
      background-color: #e22c2c; }
      .btn-rating.btn-rating--bad:hover:before {
        background: url(../images/icon-rating--hover.png);
        transform: scale(1, -1); }
  .btn-rating--good:hover {
    background-color: #41bf76; }
  .btn-wide {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 60px; }
  .btn-green {
    background-color: #41bf76; }
  .btn-green:hover {
    background-color: #2a8b53; }
  .btn-empty {
    color: #43bf76;
    border: 2px solid #43bf76;
    border-radius: 5px;
    text-decoration: underline; }
    .btn-empty:hover {
      background: #43bf76;
      color: white; }
  .btn-up {
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 5px;
    background-color: #585858;
    padding: 8px 65px 8px 50px; }
    .btn-up:before {
      display: block;
      width: 25px;
      height: 26px;
      position: absolute;
      right: 23px;
      top: 8px;
      background: url(../images/icon-gotop.png);
      content: ''; }
    .btn-up:hover {
      background-color: #41bf76; }
      .btn-up:hover:before {
        background: url(../images/icon-gotop--hover.png); }
  .btn-more {
    padding-left: 80px; }
    .btn-more:before {
      content: '';
      background: url(../images/icon-more.png);
      display: block;
      width: 24px;
      height: 21px;
      position: absolute;
      left: 25%;
      top: 9px; }
    .btn-more:hover:before {
      background: url(../images/icon-more-white.png); }

input, textarea {
  position: relative;
  background-color: white;
  padding: 11px 15px;
  border: 2px solid rgba(56, 56, 56, 0.4);
  color: #4d5255;
  font-family: 'Roboto';
  resize: none;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 23px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: all;
  transition-property: all;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  input.input-error, textarea.input-error {
    border: 2px solid #e22c2c; }
  input.required, textarea.required {
    background: url(../images/required.png) 99% 5px no-repeat, white; }
  input.price, textarea.price {
    padding-right: 30px;
    background: url(../images/rub.png) no-repeat 95%, white; }

input:focus, textarea:focus {
  outline: none;
  border: 2px solid #41bf76; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 100;
  color: #b8b8b8; }

input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 100;
  color: #b8b8b8; }

input:-moz-placeholder, textarea:-moz-placeholder {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 100;
  color: #b8b8b8; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 100;
  color: #b8b8b8; }

p.required-before:before
, span.required-before:before {
  content: ' *';
  color: red;
  padding-right: 5px; }

p.required-after:after, span.required-after:after {
  content: ' *';
  color: red;
  padding-left: 5px; }

.form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .form .header {
    width: 100%;
    margin-bottom: 10px; }
  .form p.h5 {
    width: 100%; }
  .form .btn-empty {
    color: #46c177;
    text-decoration: none; }
    .form .btn-empty:hover {
      color: white; }

.form input, .form textarea {
  width: 100%; }

.form .field-block {
  width: 63%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative; }
  .form .field-block.error:after {
    content: 'перейти на сайт';
    display: block;
    color: white;
    position: absolute;
    font-size: 1.3rem;
    font-weight: 400;
    width: 135px;
    height: 26px;
    background-color: #3d3d3d;
    border-radius: 5px;
    right: -50%;
    top: -150%;
    text-align: center; }
  .form .field-block .btn-wide {
    align-self: flex-end; }
  .form .field-block .required-field {
    width: 50%;
    display: block; }
  .form .field-block .quarter {
    width: 22%; }

.field-block--input, .field-block--named {
  width: 48%;
  margin-bottom: 25px; }

.form .field-block--textarea {
  width: 100%;
  margin-bottom: 10px; }
  .form .field-block--textarea > p {
    margin-bottom: 10px; }

.form .other-block {
  width: 34%;
  display: flex;
  flex-flow: column;
  justify-content: space-between; }
  .form .other-block > a.btn {
    align-self: flex-end;
    flex-grow: 0; }
  .form .other-block p.error {
    flex-grow: 2; }

.form .required-field {
  align-self: center;
  font-weight: 400; }

.field-block--named {
  width: 48%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start; }
  .field-block--named span {
    display: inline-block;
    padding: 10px 20px;
    line-height: normal;
    background-color: #46c177;
    border: 1px solid #383838;
    color: white;
    font-size: 15px;
    font-weight: 300;
    width: 150%;
    line-height: 24px; }
  .field-block--named input {
    width: 100%;
    border-left: none;
    padding-right: 35px; }

.icon-social {
  display: inline-block;
  width: 32px;
  height: 32px; }

.icon-social:hover {
  opacity: .8; }

.icon-social--tw {
  background: url(../images/icon-social-tw.png); }

.icon-social--fb {
  background: url(../images/icon-social-fb.png); }

.icon-social--ig {
  background: url(../images/icon-social-ig.png); }

.input-search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start; }

.input-search input {
  background-color: rgba(255, 255, 255, 0.11);
  border: 1px solid #737373;
  color: white; }

.input-search .btn {
  width: 102px;
  height: 45px;
  line-height: 45px;
  background-color: #0082d5;
  background-image: linear-gradient(to top, #711014 0%, #c91118 6%, #e51c24 100%);
  border-radius: 0px 5px 5px 0px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.45); }

.link-mail {
  font-weight: 400; }

.link-mail:before {
  content: url(../images/icon-mail.png);
  margin-right: 10px;
  position: relative;
  top: 2px; }

.phone {
  text-decoration: none;
  font-weight: 700; }

.line {
  position: relative;
  height: 3px;
  background-color: #efefef; }
  .line:after {
    position: absolute;
    right: 0;
    top: -40px;
    content: '';
    display: block;
    background: url(../images/icon-car.png) no-repeat;
    width: 80px;
    height: 40px; }

.required-field {
  color: #d2d2d2;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 25px;
  text-align: left; }

.other-companies-wrapper {
  display: none;
  width: 100%; }

.other-companies {
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: space-around;
  align-self: stretch;
  height: auto; }

.item-card {
  padding: 15px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.rating {
  display: inline-block;
  border: 1px solid #d7141c;
  border-radius: 50%;
  padding: 10px;
  color: #d7141c; }

.avatar {
  text-align: center; }

.avatar img {
  width: 100%;
  height: auto;
  margin-bottom: 15px; }

.avatar .name, .avatar .role {
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 24px; }

.crumbs {
  padding: 20px 0; }
  .crumbs a, .crumbs span {
    color: #ccc;
    font-size: 1.4rem;
    text-decoration: none; }
    .crumbs a:before, .crumbs span:before {
      content: ' / '; }
    .crumbs a:first-child:before, .crumbs span:first-child:before {
      content: ''; }

.card-text {
  width: 65%;
  display: flex;
  flex-flow: column nowrap; }

.card-text .divider {
  background-color: #ecf1f4;
  margin: 15px 0; }

.card-text .top span, .card-text .top a {
  font-size: 2.0rem;
  font-weight: 300;
  line-height: 24px; }

.card-text p {
  margin-bottom: 30px; }

.client-info {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.5rem;
  margin: 15px 0; }

.client-info .param, .client-info .value {
  width: 50%;
  margin-bottom: 5px; }

.client-info .param {
  color: #8f8f8f; }

.client-info .value {
  color: #222; }

.client-results {
  margin: 15px 0; }

.slider-results {
  margin: 40px 0 20px 0; }

.transparent-line {
  background: rgba(255, 255, 255, 0.65); }

.service-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.service-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px; }

.service-item p {
  margin: 15px 0; }

.service-item .price {
  font-size: 2.0rem;
  color: #e51c24;
  font-weight: 400; }

.service-item .link {
  font-weight: 400; }

.service-item a {
  display: inline-block; }

.tech-info {
  width: 57%; }

footer {
  padding: 20px 0 50px 0;
  color: #828282;
  background-color: #f4f4f4;
  box-shadow: 0 3px 0 #ececec;
  font-size: 1.4rem; }

.second-bg {
  background-color: #f0f0f0; }
  .second-bg .line {
    background-color: #e0e0e0; }

.more-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 15px 25px 25px 25px;
  background-color: rgba(242, 241, 241, 0.45);
  border-radius: 5px; }

.more-info .text-lite {
  align-self: flex-end; }

.more-info a.btn {
  text-align: center; }

.comments-block {
  display: flex;
  flex-flow: column nowrap; }

.comment-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 25px 0; }

.comment-card img {
  width: 13%;
  height: auto; }

.comment-card .info {
  width: 80%;
  padding: 10px 100px 25px 25px;
  font-weight: 400;
  min-height: 200px; }

.comment-card .client-name {
  display: inline-block;
  color: #232329;
  font-size: 1.6rem;
  font-weight: 700; }

.comment-card .icon-comment, .comment-card .client-name {
  margin-bottom: 40px; }

.comment-card .line {
  flex-basis: 100%; }

.icon-comment {
  display: inline-block;
  margin-right: 25px;
  padding-left: 45px;
  position: relative;
  color: #7b7b7b;
  font-size: 1.4rem;
  font-weight: 400; }

.icon-comment:before {
  display: block;
  position: absolute;
  left: 0;
  width: 37px;
  height: 37px;
  top: -9px; }

.icon-comment--good:before {
  background: url(../images/good-comment.png);
  content: ''; }

.icon-comment--bad:before {
  background: url(../images/bad-comment.png);
  content: ''; }

.give-feedback {
  min-height: 650px;
  background-color: #383838;
  border-top: 5px solid #46c177; }
  .give-feedback .h1 {
    color: white;
    font-weight: 700;
    margin-bottom: 25px; }
  .give-feedback p {
    color: white;
    font-weight: 400; }
  .give-feedback .btn-up {
    position: absolute;
    left: 50%;
    margin-left: -80px;
    bottom: 20px; }
  .give-feedback .block {
    padding: 65px 0 110px 0; }

.thanks {
  display: none;
  align-items: center;
  justify-content: space-between;
  min-height: 650px; }
  .thanks .h1 {
    margin-bottom: 10px; }
  .thanks > img {
    position: relative;
    z-index: 2; }
  .thanks .line {
    position: absolute;
    height: 3px;
    background-color: #626262;
    width: 85%;
    right: 0;
    top: 70%;
    z-index: 1; }
    .thanks .line:after {
      right: 40%;
      background: url(../images/icon-car--dark.png) no-repeat; }

section.contacts {
  display: flex;
  flex-flow: row wrap; }

section.contacts .contact-info {
  width: 60%;
  margin-top: 10px;
  padding-right: 60px; }

section.reviews .title {
  width: 92%; }

section.clients .title {
  width: 92%; }

section.clients .item-card {
  justify-content: space-around; }

section.clients .card-text {
  width: 40%; }

section.clients .nav-container {
  top: -140px; }

.rating-button {
  display: flex;
  justify-content: space-between; }
  .rating-button input[type=radio] {
    display: none; }

#rate1:checked + label {
  background: #41bf76; }
  #rate1:checked + label.btn-rating--good:before {
    background: url(../images/icon-rating--hover.png); }

#rate2:checked + label {
  background: #e22c2c; }
  #rate2:checked + label.btn-rating--bad:before {
    background: url(../images/icon-rating--hover.png);
    transform: scale(1, -1); }

input[type=file] {
  cursor: pointer !important;
  position: absolute;
  top: 0;
  right: 0;
  width: 200%;
  opacity: 0; }

.download-block {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  flex-grow: 1; }
  .download-block > p {
    width: 100%; }
  .download-block .file-list {
    display: flex;
    flex-flow: column;
    padding: 0 10px; }
    .download-block .file-list a {
      display: none;
      width: 100%;
      color: white;
      text-decoration: none;
      position: relative; }
      .download-block .file-list a:after {
        content: '';
        background: url(../images/icon-delete.png);
        display: block;
        width: 14px;
        height: 14px;
        position: absolute;
        right: -20px;
        top: 7px; }

.download-input {
  display: flex;
  align-items: center; }

.rating-block {
  flex-grow: 5; }
  .rating-block > p {
    margin-bottom: 10px; }

.company-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  padding: 25px 0;
  width: 100%; }
  .company-card .visual {
    flex-grow: 0;
    margin-right: 30px; }
    .company-card .visual-rating {
      margin-top: 10px; }
      .company-card .visual-rating span {
        font-size: 2.6rem;
        font-weight: 700; }
        .company-card .visual-rating span sup {
          font-size: 1.6rem; }
  .company-card .content {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1; }
  .company-card .about {
    display: flex;
    flex-grow: 1; }
    .company-card .about .info,
    .company-card .about .contacts-block {
      flex-basis: 50%;
      flex-grow: 1; }
    .company-card .about h1 {
      margin-bottom: 30px; }
  .company-card .services-about {
    margin-bottom: 50px; }
  .company-card .services {
    display: flex;
    justify-content: space-between; }
    .company-card .services h1,
    .company-card .services-options {
      margin-bottom: 30px; }
    .company-card .services-options li > span {
      font-weight: 700; }
    .company-card .services-list li {
      margin-bottom: 10px; }
    .company-card .services .comment-card {
      padding: 0; }
      .company-card .services .comment-card .info {
        width: 100%;
        margin-top: 25px;
        padding: 0;
        font-weight: 400; }
        .company-card .services .comment-card .info .icon-comment {
          margin-bottom: 20px;
          float: left; }
        .company-card .services .comment-card .info .client-name {
          margin-bottom: 20px;
          float: right; }
    .company-card .services .comments-block {
      flex-basis: 50%; }
  .company-card .about .contacts-block {
    text-align: right;
    flex-grow: 1; }
    .company-card .about .contacts-block a[href^="tel"] {
      display: inline-block;
      color: #353535;
      font-weight: 700;
      text-decoration: none;
      margin-bottom: 30px; }

.rights {
  margin-top: 10px;
  text-align: right; }

article {
  padding: 25px 0; }
  article > p {
    margin-bottom: 15px; }
  article img:nth-child(odd) {
    float: right;
    margin-left: 20px; }
  article img:nth-child(even) {
    float: left;
    margin-right: 20px; }

.icon-info {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/icon-info.png) no-repeat;
  transition: background 1s ease-out; }
  .icon-info:hover {
    background: url(../images/icon-info--hover.png) no-repeat; }

.mymap {
  margin: 25px 0; }

.map-tooltip {
  color: white;
  padding: 15px 20px;
  background-color: rgba(58, 58, 58, 0.9);
  border: 1px solid white; }

/* Базовый контейнер табов */
.tabs {
  display: flex;
  flex-wrap: wrap;
  /* стили секций с содержанием */ }
  .tabs input {
    display: none; }
  .tabs section {
    display: none;
    flex-basis: 100%; }
  .tabs label {
    flex-grow: 1;
    font-size: 2.0rem;
    display: inline-block;
    margin: 0 5px;
    padding: 5px 25px;
    font-weight: 400;
    text-align: center;
    color: #2e3a2d;
    background-color: #f9f9f9;
    border-radius: 5px 5px 0px 0px; }

/* изменения стиля заголовков вкладок при наведении */
.tabs label:hover {
  background-color: #383838;
  border-radius: 5px 5px 0px 0px;
  color: white; }

/* стили для активной вкладки */
.tabs input:checked + label {
  color: white;
  background-color: #46c177;
  border-radius: 5px 5px 0px 0px; }

/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8,
#tab9:checked ~ #content9 {
  display: block; }

section.hello {
  position: relative;
  background: url(../images/bg-hello.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  padding: 80px 0 20px 0; }
  section.hello > h1 {
    font-size: 4.0rem; }
  section.hello .phone {
    font-size: 3.0rem;
    font-weight: 400;
    color: #4c4c4c; }
  section.hello .field-block {
    margin: 25px 0;
    width: 100%; }

section.contacts {
  display: flex;
  flex-flow: row wrap; }
  section.contacts .contact-info {
    width: 60%;
    margin-top: 10px;
    padding-right: 60px; }

section.reviews .title {
  width: 92%; }

section.clients .title {
  width: 92%; }

section.clients .item-card {
  justify-content: space-around; }

section.clients .card-text {
  width: 40%; }

section.clients .nav-container {
  top: -140px; }

.check {
  padding: 30px 0 15px 0; }
  .check a {
    width: 30%; }
  .check img {
    width: 100%;
    border: 2px solid transparent;
    transition: border 0.3s; }
    .check img:hover {
      border: 2px solid #46c177; }

.contacts-page .contact-info {
  margin: 25px 0;
  display: flex;
  justify-content: space-around; }

.contacts-page p.header {
  font-weight: bold;
  margin-bottom: 7px; }

.contacts-page [itemprop="address"] {
  margin-bottom: 20px; }
  .contacts-page [itemprop="address"] .header {
    font-weight: bold; }

.contacts-page [itemprop="name"] {
  display: none; }

.contacts-page a {
  display: block; }

.page-404 {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .page-404 a {
    font-weight: 400;
    font-size: 2.2rem;
    margin-top: 20px; }

/*# sourceMappingURL=style.css.map */