
@media only screen and (max-width: 768px) {
    
    section.hello {
            padding: 20px 0;
    }
.block {
    padding: 25px 0;
}
      .title {
        .line {
            display: none;
        }
    }
    .services-list {
        ul {
            width: 100% !important;
            margin: 0 !important;
        }
    }
    
    p.header {
    font-weight: 500;
    } 
    
        table {
        th {
            &:first-child {
                width: 35px;
            }
            &:last-child {
                width: 100px
            }
        }
        td {
            padding: 15px 10px;
        }
        td,
        th {
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(6),
            &:nth-child(7) {
                display: none;
            }
        }
        tr {
            .btn {
    display: block;
}
        }
    }
    
    .comment-card {
        .icon-comment,
        .client-name {
            display: block;
            margin-bottom: 15px;
        }
        .info {
            width: 100%;
            padding: 0px 0px 45px 0px;
        }
    }
    
       .form {
        flex-flow: column;
        .field-block,
        .field-block--input,
        .field-block--named,
        .other-block, .field-block .quarter {
            width: 100%;
            margin-bottom: 15px;
            
        }
        
        .field-block--input, .field-block--named{
            &>p{
    margin-bottom: 5px;
  }
        }
        .download-input {
            width: 100%;
            flex-flow: column;
            .btn {
                width: 100%;
            }
        }
        .rating-button {
            justify-content: space-around;
            margin-bottom: 25px;
            .btn-rating {
                width: 150px;
            }
        }
        .btn-green {
            width: 100%;
        }
    }
    
    .tech-info {
    width: 100%;
}
     .contacts-page .contact-info {
        flex-direction: column;
        .phones, .emails, .other {
               margin-bottom: 20px;
                padding: 10px;
    background: rgba(255, 255, 255, 0.6);
        }
     
    }
    
    .give-feedback {
            padding-bottom: 60px;
    }
    
    .b-areas div{
	width: 100%;
    text-align: center;
}
    
    .b-areas {
        flex-wrap: wrap;
        img {
           margin: 0 auto; 
        }
        ul>li {
    width: 100%;
        }
    }
    
    

}
