@media only screen and (min-width: 480px + 1) and (max-width: 768px) {
    html {
        font-size: 48.0%;
    }
  
    
    footer {
        .item-between {
            flex-flow: column;
                align-items: stretch;
        }
        .rights {
            
	text-align: left;
}
        .tech-info {
            order: 2;
        }
    }
    
    table {
        td,
        th {

            &:nth-child(6) {
                display: table-cell;
            }
        }
    }
    

         .icon-up:after,
    .icon-down:after {
        right: 3px;
    top: 22px;

    }
    
        .company-card {
        flex-flow: column nowrap;
        .visual {
            align-self: center;
            margin-right: 0;
        }
        p.visual-rating {
	text-align: center;
}

        .about {
//            height: 285px;
           
            h1, p.h1 {
                
                font-size: 3.0rem;
                margin-bottom: 10px;
            }
            .contacts-block {
                
                a[href^="tel"] {
                    font-size: 3.0rem;
                    margin-bottom: 5px;
                }
            }
        }
        .services {
//            height: 465px;
          
            margin-top: 25px;
        }
    }
    
}