
@media only screen and (min-width: 768px + 1) and (max-width: 960px) {
    
    html {
        font-size: 52.0%;
    }
    
    section.hello {
    padding: 40px 0 20px 0;
}

    footer {
        
        .rights {
            width: 100%;
            text-align: left;
            display: inline-block;
        }
        .tech-info {
            order: 2;
            width: 100%;
        }
    }
    
    .company-card {


        .about {      
            h1, p.h1 {
                
                font-size: 3.3rem;
                margin-bottom: 10px;
            }
            .contacts-block {
                
                a[href^="tel"] {
                    font-size: 3.0rem;
                    margin-bottom: 10px;
                }
            }
        }
    }
    
    
    .btn-rating {

        &:before {

    left: 12%;
    }
    }
}
