@media only screen and (min-width: 320px) and (max-width: 480px) {
    html {
        font-size: 52.0%;
    }
    div.header {
        justify-content: center;
    }
    .logo {
        margin: 0 auto;
    }
    h1,
    .h1 {
        line-height: 36px;
    }
    section.hello {
     
            padding: 30px 0;
       
    }
    .other-companies {
        justify-content: flex-start;
        flex-wrap: wrap;
        &.list {
            ul {
                width: 100%;
                margin: 0;
            }
        }
    }
    .check {
        flex-flow: row wrap;
        a {
            width: 100%;
        }
    }
    footer {
        .item-between {
            flex-flow: column;
            align-items: stretch;
        }
        .menu-footer {
            &>a:after {
                content: '';
            }
        }
        .rights {
            width: 100%;
            text-align: left;
            display: inline-block;
        }
        .tech-info {
            order: 2;
            width: 100%;
        }
    }
    .company-card {
        flex-flow: column nowrap;
        .visual {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-right: 0;
        }
        .logo-card img {
            width: 50%;
        }
        .about {
            height: 285px;
            flex-flow: column nowrap;
            h1 {
                margin-bottom: 10px;
            }
            .contacts-block {
                text-align: left;
                a[href^="tel"] {
                    font-size: 3.2rem;
                    margin-bottom: 5px;
                }
            }
        }
        .services {
            height: 465px;
            flex-flow: column;
            margin-top: 25px;
        }
    }

    .all-feedback .title {
        flex-flow: column;
        align-items: center;
        a {
            margin-top: 15px;
        }
    }
    .form {
        flex-flow: column;
        .field-block,
        .field-block--input,
        .field-block--named,
        .other-block, .field-block .quarter {
            width: 100%;
            margin-bottom: 15px;
            
        }
        
        .field-block--input, .field-block--named{
            &>p{
    margin-bottom: 5px;
  }
        }
        .download-input {
            width: 100%;
            flex-flow: column;
            .btn {
                width: 100%;
            }
        }
        .rating-button {
            margin-bottom: 25px;
            .btn-rating {
                width: 128px;
            }
        }
        .btn-green {
            width: 100%;
        }
    }

    .icon-up:after,
    .icon-down:after {
      display: none;
    }
    
    .more-info {
    padding: 15px;
    }
    
    .menu-static {
//	    margin: -20px 0 20px 0;
        
        a, span {
            &:first-child {
                margin-left: 0;
            }
        }
}
    blockquote {
 
    padding: 0px 0px 0px 40px;
    }
   
    
    .fixblock {
        &>.item-between {
                align-items: flex-start;
    flex-direction: column;
        }
}
    
    .link-out:before {
    left: -47px;
    top: -8px;
    }
    
    
    
    
  
}