.carousel-wrapper {
    position: relative;
}

.carousel-prev {
    left: 0;
    top: 75px;
    cursor: pointer;
    position: absolute;
    width: 36px;
    height: 36px;
    background:url("../images/slider-arrow-left.png") no-repeat;
}

.carousel-next {
    right: 0;
    top: 75px;
    cursor: pointer;
    position: absolute;
    width: 36px;
    height: 36px;
    background:url("../images/slider-arrow-right.png") no-repeat;
}

.carousel-content {
    overflow: hidden;
    position: relative;
    margin: 0 46px;
    padding-top: 20px;
}

.carousel-content ul {
    width: 20000em;
    position: relative;
}

.carousel-content ul li {
    padding: 0;
    width: 210px;
    float: left;
}
