@media only screen and (min-width: 769px) and (max-width: 960px) {
  html {
    font-size: 52.0%; }
  section.hello {
    padding: 40px 0 20px 0; }
  footer .rights {
    width: 100%;
    text-align: left;
    display: inline-block; }
  footer .tech-info {
    order: 2;
    width: 100%; }
  .company-card .about h1, .company-card .about p.h1 {
    font-size: 3.3rem;
    margin-bottom: 10px; }
  .company-card .about .contacts-block a[href^="tel"] {
    font-size: 3.0rem;
    margin-bottom: 10px; }
  .download-input .btn-wide {
    padding: 8px 57px; }
  .btn-rating:before {
    left: 12%; } }

@media only screen and (max-width: 768px) {
  section.hello {
    padding: 20px 0; }
  .block {
    padding: 25px 0; }
  .title .line {
    display: none; }
  .services-list ul {
    width: 100% !important;
    margin: 0 !important; }
  p.header {
    font-weight: 500; }
  table th:first-child {
    width: 35px; }
  table th:last-child {
    width: 100px; }
  table td {
    padding: 15px 10px; }
  table td:nth-child(3),
  table td:nth-child(4),
  table td:nth-child(6),
  table td:nth-child(7),
  table th:nth-child(3),
  table th:nth-child(4),
  table th:nth-child(6),
  table th:nth-child(7) {
    display: none; }
  table tr .btn {
    display: block; }
  .comment-card .icon-comment,
  .comment-card .client-name {
    display: block;
    margin-bottom: 15px; }
  .comment-card .info {
    width: 100%;
    padding: 0px 0px 45px 0px; }
  .form {
    flex-flow: column; }
    .form .field-block,
    .form .field-block--input,
    .form .field-block--named,
    .form .other-block, .form .field-block .quarter {
      width: 100%;
      margin-bottom: 15px; }
    .form .field-block--input > p, .form .field-block--named > p {
      margin-bottom: 5px; }
    .form .download-input {
      width: 100%;
      flex-flow: column; }
      .form .download-input .btn {
        width: 100%; }
    .form .rating-button {
      justify-content: space-around;
      margin-bottom: 25px; }
      .form .rating-button .btn-rating {
        width: 150px; }
    .form .btn-green {
      width: 100%; }
  .tech-info {
    width: 100%; }
  .contacts-page .contact-info {
    flex-direction: column; }
    .contacts-page .contact-info .phones, .contacts-page .contact-info .emails, .contacts-page .contact-info .other {
      margin-bottom: 20px;
      padding: 10px;
      background: rgba(255, 255, 255, 0.6); } }

@media only screen and (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 48.0%; }
  footer .item-between {
    flex-flow: column;
    align-items: stretch; }
  footer .rights {
    text-align: left; }
  footer .tech-info {
    order: 2; }
  table td:nth-child(6),
  table th:nth-child(6) {
    display: table-cell; }
  .icon-up:after,
  .icon-down:after {
    right: 3px;
    top: 22px; }
  .company-card {
    flex-flow: column nowrap; }
    .company-card .visual {
      align-self: center;
      margin-right: 0; }
    .company-card p.visual-rating {
      text-align: center; }
    .company-card .about h1, .company-card .about p.h1 {
      font-size: 3.0rem;
      margin-bottom: 10px; }
    .company-card .about .contacts-block a[href^="tel"] {
      font-size: 3.0rem;
      margin-bottom: 5px; }
    .company-card .services {
      margin-top: 25px; } }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 52.0%; }
  div.header {
    justify-content: center; }
  .logo {
    margin: 0 auto; }
  h1,
  .h1 {
    line-height: 36px; }
  section.hello {
    padding: 30px 0; }
  .other-companies {
    justify-content: flex-start;
    flex-wrap: wrap; }
    .other-companies.list ul {
      width: 100%;
      margin: 0; }
  .check {
    flex-flow: row wrap; }
    .check a {
      width: 100%; }
  footer .item-between {
    flex-flow: column;
    align-items: stretch; }
  footer .menu-footer > a:after {
    content: ''; }
  footer .rights {
    width: 100%;
    text-align: left;
    display: inline-block; }
  footer .tech-info {
    order: 2;
    width: 100%; }
  .company-card {
    flex-flow: column nowrap; }
    .company-card .visual {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-right: 0; }
    .company-card .logo-card img {
      width: 50%; }
    .company-card .about {
      height: 285px;
      flex-flow: column nowrap; }
      .company-card .about h1 {
        margin-bottom: 10px; }
      .company-card .about .contacts-block {
        text-align: left; }
        .company-card .about .contacts-block a[href^="tel"] {
          font-size: 3.2rem;
          margin-bottom: 5px; }
    .company-card .services {
      height: 465px;
      flex-flow: column;
      margin-top: 25px; }
  .all-feedback .title {
    flex-flow: column;
    align-items: center; }
    .all-feedback .title a {
      margin-top: 15px; }
  .form {
    flex-flow: column; }
    .form .field-block,
    .form .field-block--input,
    .form .field-block--named,
    .form .other-block, .form .field-block .quarter {
      width: 100%;
      margin-bottom: 15px; }
    .form .field-block--input > p, .form .field-block--named > p {
      margin-bottom: 5px; }
    .form .download-input {
      width: 100%;
      flex-flow: column; }
      .form .download-input .btn {
        width: 100%; }
    .form .rating-button {
      margin-bottom: 25px; }
      .form .rating-button .btn-rating {
        width: 128px; }
    .form .btn-green {
      width: 100%; }
  .icon-up:after,
  .icon-down:after {
    display: none; }
  .more-info {
    padding: 15px; }
  .menu-static a:first-child, .menu-static span:first-child {
    margin-left: 0; }
  blockquote {
    padding: 0px 0px 0px 40px; }
  .fixblock > .item-between {
    align-items: flex-start;
    flex-direction: column; }
  .link-out:before {
    left: -47px;
    top: -8px; } }

/*# sourceMappingURL=media.css.map */